# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Experiment outputs
experiments/logs/*
experiments/videos/*
experiments/screenshots/*
!experiments/**/.gitkeep